<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Instructor Edit</title>
    <link rel="stylesheet" href="/new_edit_login.css">
</head>
<body>
<h2>EDIT</h2>
<form th:method="PATCH" th:action="@{/instructors/{id}(id=${instructor.getId()})}" th:object="${instructor}">
    <label for="first_name"> First name: </label>
    <input type="text" th:field="*{firstName}" id="first_name">
    <div style="color: darkred" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</div>
    <br>
    <label for="last_name"> Last name: </label>
    <input type="text" th:field="*{lastName}" id="last_name">
    <div style="color: darkred" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</div>
    <br>
    <label for="email"> Email: </label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color: darkred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>
    <br>
    <label for="phone"> Phone: </label>
    <input type="text" th:field="*{phoneNumber}" id="phone">
    <div style="color: darkred" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</div>
    <br>
    <input type="submit" value="Update"/>
</form>

</body>
</html>